@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300');

body {
    background: #0F2F5B;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: #666;
}
::-webkit-scrollbar {
    border-radius: 20px;
    width: 7px;
}
::-webkit-scrollbar-track-piece {
    left: 80px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 183, 255, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-resizer {
    background-color: blue;
}

#wrapper { 
    -webkit-animation: fadein 5s;  
    -moz-animation: fadein 5s;
    -ms-animation: fadein 5s;
    -o-animation: fadein 5s;
    animation: fadein 5s;
    -webkit-animation-delay: 2s; 
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    animation-fill-mode:forwards;
    background-attachment: fixed;
    background-color:  #f6f9fa;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin: 0;
    
    position: absolute;
    padding: 0;
    opacity: 0;
    z-index: 999;
}

/********** HEADER **********/
#Header{
    background: transparent;
    border-bottom: none;
    margin-top: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    position: fixed;
    width: 100%;
    z-index: 9900;
	height: 15vh;

}

/* Attributes for navbar */
#nav {
    background: transparent !important;
    width: 96.5vw;
}
#nav ul {
    
    display: block;
    overflow: hidden;
    width 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav li {
    
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}
#nav li a{

    color: aliceblue;
    -webkit-text-stroke: 0.2px #49BCFF;
    text-stroke: 0.2px #49BCFF;
    display: block;
    font-size: 3vh;
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
	line-height: 6vh;
    margin: 0;
    padding: 4vh 1vw 0.5vh 1vw;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 2;
}

#nav ul li a:hover {
    color: #49BCFF;
    
}
#nav ul li a.active {
    border-bottom: 3px white solid;
    color: rgb(0, 133, 205);
	font: bold 1.5vw Source Sans Pro;
}
#mobileNav {
    display: none;
}
.mobileMenuBtn {
    background-color:transparent;
    border: none;
    cursor: pointer;
    display: none;
<<<<<<< HEAD
    vertical-align: middle;
=======
    background: url("menuButtonWhite.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-transition: -webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
    height: 6vh;
    width: 6vh;
	margin: 3vh 3vw;
    z-index: 9999;
>>>>>>> a4b2068cfb189d294839890e360c2f4e7832f7a8
}

/* Mobile Nav Menu*/

@media screen and (max-width: 900px) and (min-width: 0px) {
    
    #nav ul li:not(:last-child) {
        display: none !important;
    }
    #nav ul {
        display: inline;
    }
    .mobileMenuBtn {
        display: inline;
        float: right;
        margin: 4.2vh 4vw 0.5vh 1.5vw;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 3px;
        background-color: aliceblue;
        margin: 7.5px 0 0 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    
    .mobileMenuButtonAnimation {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); 
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    }
    #mobileNav {
        left: 11.5% !important;
        margin: 9.1vh -5vw 0 0;
        background: rgba(0,0,0, 0.8);
        padding: 0 3vw;
        float: right;
        z-index: 9999;
        top:15% !important;
    }
    #mobileNav ul {
        text-align: left;
        margin 0;
        display: inline;
        padding: 0 20px;
        list-style: none;
    }
    #mobileNav li { 
        display: block;
        text-align: center;
    }
    #mobileNav li a {
        display: block;
        color: aliceblue;
        -webkit-text-stroke: 0.2px #49BCFF;
        text-stroke: 0.2px #49BCFF;
        font: normal 3vmax 'Montserrat', sans-serif;
        margin 0 -10vw 0 -10vw;
        padding: 6px 0px;
        text-decoration: none;
    }
    #mobileNav ul li a:hover {
        color: #49BCFF;
    }
    #mobileNav ul li a:active {
        color: blue;
        margin: 0 0 0 -5vw;
        padding: 0;
    }
  
}

#scrollToTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    border: 1.5px solid rgb(0, 183, 255);
    right: 30px; /* Place the button 30px from the right */
    z-index: 9999; /* Make sure it does not overlap */
    background-color: aliceblue; /* Set a background color */
    color:rgb(0, 183, 255); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    text-decoration: none;
    border-radius: 100%; /* Rounded corners */
    opacity: 0.7;
}

#scrollToTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    opacity: 1;
}

/* HOME SECTION */
#Home{
    display: block;
    background-image: url("watchTower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
#Home h1 {
	position: relative;
	top: 47%;
	display: table;
	z-index: 2;
	color: #fff;
	font : normal 300 7vmin 'Josefin Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
    margin: 0 auto;
    padding: 0;
}
#DownButton {
    top: 20vh;
    opacity: 0.6;
}
#DownButton:hover {
	opacity: 1;
}
#DownButton span {
	position: absolute;
	top: 86vh;
	left: 47vw;
	width: 5vmax; /* Size (width) of the inner coloured circle within the fade circle*/
	height: 5vmax; /* Size (height) of the inner coloured circle within the fade circle*/
	margin: 0;
	border: 1.5px solid #49BCFF;
	border-radius: 100%;
	box-sizing: border-box;
}
#DownButton span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 2vmax; /* Size for the left part of the arrow within the circle */
	height: 2vmax; /* Size for the right part of the arrow within the circle */
	margin: -1.5vmax 0 0 -1vmax; /* Position of the arrow within the inner circle */
	border-left: 1.7px solid #fff;
	border-bottom: 1.7px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#DownButton span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 4.7vmax; /* Size (width) of the inner circle within the fade circle*/
	height: 4.7vmax; /* Size (height) of the inner circle within the fade circle*/
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);
	border-radius: 100%;
	opacity: 1;
    animation: cirleFade 2s infinite;
	-webkit-animation: cirleFade 2s infinite;
    
	box-sizing: border-box;
}
@-webkit-keyframes cirleFade {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 5vmax rgba(255, 255, 255, 0.25);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes cirleFade {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 5vmax rgba(255,255,255, 0.25);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes cirleFade {
    0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 5vmax rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes cirleFade {
    0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 5vmax rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes cirleFade {
    0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 5vmax rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*@keyframes downArrown {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
    }
}
@-webkit-keyframes downArrown {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@-moz-keyframes downArrown {
    0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

@-ms-keyframes downArrown {
    0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@-o-keyframes downArrown {
    0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
} */

/********** ABOUT ME SECTION **********/
#AboutMe{
    padding-top: 12vh;
    display: block; 
    position: relative;
    height: 100%;
    color : white;
}

#aboutContent { 
    display: flex;
    margin: 0 5%;

}

#aboutLeft {
    margin: auto;
    
}

#aboutRight { 
    margin: auto;
   
}

/* Photo Card */
.browserPhotoCardContainer, .mobilePhotoCardContainer {
    display: block;
    margin-right: 1.5vmin;
    margin-bottom: 2vmin;
}
.browserPhotoCardContainer:hover .flipAnimation, .browserPhotoCardContainer.hover .flipAnimation {
    transform: rotateY(180deg);
}
.browserPhotoCardContainer, .mobilePhotoCardContainer, .frontOfPhotoCard, .backOfPhotoCard {
    height: 20vmax;
    width: 20vmax;
    border-radius: 100%;
}

.flipAnimation {
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}
.frontOfPhotoCard, .backOfPhotoCard {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.frontOfPhotoCard {
    transform: rotateY(0deg);
    height: 20vmax;
    width: 20vmax;
    z-index: 200;
}
.backOfPhotoCard {
    background: linear-gradient(rgba(0, 83, 155, 0.8), rgba(0, 83, 155, 0.8)), url(Images/grid.png);
    transform: rotateY(180deg);
    z-index: 100;
    color: white;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.profilePhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background: url(executivePhotos/president.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	        background-size: cover;*/    
    margin: 0;
    position: absolute;
    display: block;
    z-index: 10;
}
.positionInfo {
    color: white;
    text-align: center;
    z-index: 1000;
}

#clock {
    opacity: 1; 
    z-index: 100;
}

#map { 
    height: 20vmax;
    width: 20vmax;
    margin-top: 2vmin;
    
}

/* Window */
.window {
    background: #485667;
    border-radius: 2% 2% 1.5% 1.5%;
}

.windowHeader {
    background: #d7d9e0;
    border-radius: 10px 10px 2% 2%;
    color: black;
    min-height: 26px;
    width: 100%;
}

.windowBtns {
    margin-left: 5px;
    position: absolute;
    width: 20%;
}

.aboutAnswer a { 
 color: #0F2F5B;
}

.windowRd {
    background: #FC605B;
}

.windowYl {
    background: #FDBC40;
}

.windowGn {
    background: #34C849;
}

.circle { 
    border-radius: 100%;
    float:left;
    margin: 6px 3px;
    min-height: 13px;
    width: 13px;
}

.windowTitle {
    text-align: center;
    width: 100%;
}

.windowContent {
    color: whitesmoke;
    overflow-y: scroll;
    padding: 2.5% 5%;
}

.windowContent code a:link{
    color: #3379b7;
}

.windowContent code a:hover{
    color: #49BCFF;
}

.windowContent code a:visited{
    color: #3379b7;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 1100px) and (min-width:850px) {
    #map { 
    height: 27vmax;
    width: 27vmax;
    margin-bottom: 4vmin;
    }
    
     .frontOfPhotoCard {
        transform: rotateY(0deg);
        height: 27vmax;
        width: 27vmax;
        z-index: 200;
    }
    
    .browserPhotoCardContainer, .mobilePhotoCardContainer, .frontOfPhotoCard, .backOfPhotoCard {
        height: 27vmax;
        width: 27vmax;
        border-radius: 100%;
    }
}

@media screen and (max-width: 850px) {
    #aboutContent { 
        flex-direction: column;
    }
    
    #map { 
    height: 50vmax;
    width: 50vmax;
    margin-bottom: 4vmin;
    }
    
     .frontOfPhotoCard {
        transform: rotateY(0deg);
        height: 50vmax;
        width: 50vmax;
        z-index: 200;
    }
    
    .browserPhotoCardContainer, .mobilePhotoCardContainer, .frontOfPhotoCard, .backOfPhotoCard {
        height: 50vmax;
        width: 50vmax;
        border-radius: 100%;
    }
}


/********** PORTFOLIO **********/
#Portfolio { 
    display: block;
    position: relative;
    padding: 12vh 0 12vh 0;
    height: 100%; 
    margin: 0;
    width: 100%;  
}
#portfolioTitle { 
    color: aliceblue;
    -webkit-text-stroke: 1px #49BCFF;
    text-stroke: 1px #49BCFF;
    font: 3em 'Montserrat', sans-serif;
    margin: 0 auto 2vmin auto;
    text-align: center;
    width 40vw; 
}
#mobilePortfolioMenu {
    display: none;
}
@media screen and (max-width: 550px) and (min-width: 0px) {
    #portfolioMenu {
        display: none !important;
    }
    #mobilePortfolioMenu {
        background: darkgray;
        color: azure;
        display: block;
        position: relative;
        margin: 1vh 12vw;
        width:20vw;
    }
}
#portfolioMenu {
    display: inline-block;
    position: relative;
    margin: 1vh;
    padding: 0;
}

#portfolioMenu  {
    list-style-type: none;
}
#portfolioMenu ul li { 
    color: azure;
    float: left
}

#portfolioMenu ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
#portfolioMenu ul li button {
    background-color: azure;
    border: 1.5px solid rgba(0, 183, 255, 0.8)  ;
    border-radius: 10px;
    color: black;
    cursor:pointer;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 15px;
}

#portfolioList { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:2vh auto 0 auto;
    position: relative;
    width: 95vw;
    list-style-type: none;
    overflow-y: scroll;
}

.portfolioItem { 
    border-radius: 5px;
    display: block;
    position: relative;
    float: left;
    margin: 10px;
    height: 300px;
    width: 300px;
}

.portfolioItem img { 
    border-radius: 5px;
    display: block; 
    margin: auto;
    position: relative;
    height: 300px;
    width: 300px;
}
.portfolioItemInfo {
    border-radius: 5px;
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #008CBA !important;
    overflow: hidden !important;
    opacity: 0.95;
    width: 100%;
    height: 18%;
    transition: all 0.3s ease;
    z-index: 2;
}
.portfolioItem:hover .portfolioItemInfo {
    height: 100%;
    overflow: scroll;
}
.portfolioItem h3 { 
    color: aliceblue;
    font: normal 1.4em Montserrat, sans-serif !important;
    margin: 5% auto;
    letter-spacing: 0.2vmin;
    text-align: center;
}
.portfolioItem p {
    color: aliceblue;
    font: normal 1em Montserrat, sans-serif !important;
    display: block;
    position: relative;
    letter-spacing: 0.2vmin;
    margin: 3vmin;
    padding: auto;
}
.portfolioLinks ul {
    list-style-type: none;
    display: inline-block;
    position: relative;
    float: right;
    margin: 0 3.1vmin 0 0;
    
}
.portfolioItem:hover .portfolioLinks {
    list-style-type: none;
    position: absolute;
    display: table;
    float: right;
    margin: 0 0 2vmin 60%;
    bottom: 0px !important;
}
.portfolioLinks li {
    float:left;
}
.portfolioLinks a img {
    height: 25px;
    width: 25px;
}
@media screen and (max-width: 800px) and (min-width: 0px) {
    .portfolioItemInfo h3 { 
        font-size: 3vmin
    }
}
/********** CONTACT *********/
#Contact { 
    display: block;
    background: #222a36;
    position: relative; 
    padding: 12vh 4vw 1vw 4vw;
}
#contactTitle { 
    color: aliceblue;
    -webkit-text-stroke: 1px #49BCFF;
    text-stroke: 1px #49BCFF;
    font: 3em 'Montserrat', sans-serif;
    margin: 0 auto 3vmin auto;
    text-align: center;
    width 40vw; 
    padding:0;
}

#contentWrapper {
    display: flex;
}

#contactForm {
   
    display: inline;
    float: left;
    margin: 0;
    width: 50%;
}

/***** FORMS ******/
form{
    display: block;
    margin: 10vh auto;
    align-self: center;
    width: 60%;
}

lable {
    color: #174a79;
    margin: 0 3vw -20px 3vw;
}

input {
    color: white !important;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid aliceblue;
    margin: 1vh 0vw;
    transition: 0.15s ease-in;
    width: 50%;
}

form:nth-child(5) {
    margin-top: 10vh !important;
}

input:focus {
    outline: none;
    border-color: #49BCFF !important;
    border-bottom-width: 2px;
}

input:focus + lable {
    color: #49BCFF !important;
}

textArea {
    color: white;
    background: transparent;
    border-bottom: 2px solid aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    margin: 1vh 0vw 5vh 0vw;
    width: 100%;
    transition: 0.15s ease-in
}

textArea:focus {
    outline: none;
    border-color: #49BCFF !important; 
}

input[type=submit] {
    background-color: #26466D;
    border: 1px solid #262626;
    border-radius: 4px !important;
    color: aliceblue !important;
    cursor: pointer;
    margin: 0;
    height: 29px;
    transition: 0.4s ease-in;
    width: 90px;
}

#submitBtn:hover {
    background-color: #49BCFF;
    border-color: #3379b7;
}

#contactMessage {
    display: block;
    float: right;
    text-align: center;
    margin: auto;
    width: 50%;
}

#contactMessage p {
    color: aliceblue;
}


#socialMediaContact {
    margin: 0 auto;
    display: table;
    position: relative;
    height: 14.5vh;
}
#socialMediaContact ul {
    display: inline-block;
    position: relative;
    float:left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#socialMediaContact ul li {
    float:left;
    padding: 0 1.5vmin;
}
#socialMediaContact ul li a {
    border: none;
}
#socialMediaContact img {
    opacity: 0.85;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    height: 10vmin ;
    width: 10vmin ;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#socialMediaContact img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
@media screen and (max-width: 800px) and (min-width: 0px) {
    #socialMediaContact img {
    height: 7.0vmin !important;
    width: 7.0vmin !important;
    }
    
    #contentWrapper {
        flex-direction: column;
    }
    #contactForm {
    margin: auto;
    width: 100%;
    }
    form {
        width: 100%;
    }
}
/********** FOOTER **********/
#footer {
    display: block;
    font-size: 15px;
    padding: 6px;
    text-align: center;
    background: #161d28;
    color: azure;
    position: relative;
    margin: 0 auto;
}


@media screen and (max-width: 600px) and (min-width: 0px) {
    #aboutCode {
    font-size: 1.1em;
    }
    .aboutAnswer {
    font-size: 0.9em;
    }
    
}
#connectionSection{
    width: 50vw !important ;
    
}
#connectionSection p {
    display: table;
    position: relative;
   margin:0 auto;
    
}
#contactForm {
    width: 50vw !important ;
    
}
form ul {
    list-style-type: none;
}
form ul li label {
    color: aliceblue;
    font: 15px 'Montserrat', sans-serif;
}
form ul li input{
    background: transparent;
    border: 2px solid white;
    color: rgb(0, 183, 255);
    font: 15px 'Montserrat', sans-serif;
    height: 2vh;
    width: 40vw;
}
form ul li input:focus {
    border-color: rgb(0, 183, 255);
}
form ul li textarea {
    background: transparent;
    color: rgb(0, 183, 255);
    font: 15px 'Montserrat', sans-serif;
    width: 40vw;
    
    height: 20vmin;
    border: 2px solid white;
}

/********** OTHER *********/
a {
    color: #3379b7;
    text-decoration: none;
    -webkit-transition: 0.175s ease-in-out;
    transition: 0.175s ease-in-out;
}

a:hover{
		border-bottom: 2px solid #3379b7;
}

a:active {
    display: inline-block;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
